<!--
 파일명     : faq_insert.html
 관련자바   : FaqController
 화면명     : FAQ 관리
 설명       : FAQ 수정 처리
 최초개발일 : 2024.11.11
 최초개발자 : 양윤지
 ==========================================================
   수정일            수정자           설명
 ==========================================================
-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragment/config :: configFragment}"></head>
<body>
<div class="wrap">
    <app-header></app-header>
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">FAQ 관리</h2>
                            <div class="mt-4">
                                <form th:action="@{/admin/faq/update}" method="post" name="faq_form">
                                    <input type="hidden" th:value="${faq.faq_sn}" name="faq_sn"/>
                                    <table class="table table-bordered align-middle">
                                        <tbody>
                                            <tr>
                                                <th class="bg-light" width="20%">카테고리</th>
                                                <td>
                                                    <input type="text" class="form-control" name="faq_ctgry" th:value="${faq.faq_ctgry}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light" width="20%">질문 텍스트</th>
                                                <td>
                                                    <textarea class="form-control" id="formText1" rows="5" name="faq_qstn" th:text="${faq.faq_qstn}"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light" width="20%">답변 텍스트</th>
                                                <td>
                                                    <textarea class="form-control" id="formText2" rows="5" name="faq_ans" th:text="${faq.faq_ans}"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light">정렬</th>
                                                <td>
                                                    <div class="d-flex">
                                                        <input class="form-control" type="number" name="sort_no" th:value="${faq.sort_no}" style="width:100px">
                                                        <p class="mb-0 mt-2 ms-3">* 숫자가 낮을수록 상위 노출됩니다.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="button-container">
                                        <button type="submit" class="btn btn-primary">수정하기</button>
                                        <a href="javascript:" class="btn btn-outline-primary">미리보기</a>
                                        <a class="btn btn-outline-dark" th:href="@{/admin/faq/list}">목록보기</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script th:inline="javascript">
        // 페이지 로드 시 실행
        window.onload = function () {
            // 페이지 로드 시 메시지 확인 및 알림 표시
            // 수정 및 등록 시 띄울 알림창
            const msg = /*[[${msg}]]*/ '';
            if (msg) alert(msg);
        }

        // 컨펌 메시지 띄우는 함수
        function confirmMsg() {
            let result = confirm("수정 하시겠습니까?");
            if(!result) {
                return false;
            } else {
                // 폼 태그 서브밋 보내기
                f=document.faq_form;
                f.submit();
            }
        }
    </script>
    <script th:src="@{/js/admin.js}"></script>
    
</body>
</html>