<!--
 파일명     : notice_insert.html
 관련자바   : NoticeController
 화면명     : 공지사항 등록
 설명       : 공지사항 등록
 최초개발일 : 2024.11.12
 최초개발자 : 양윤지
 ==========================================================
   수정일            수정자           설명
 ==========================================================
-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragment/config :: configFragment}"></head>
<body>
<div class="wrap">
    <app-header></app-header>
    
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">공지사항 관리</h2>
                            <div class="mt-4">
                                <form th:action="@{/admin/notice/insert}" method="post" enctype="multipart/form-data" name="notice_form">
                                    <input type="hidden" name="file_yn" value="0">
                                    <table class="table table-bordered align-middle">
                                        <tbody>
                                            <tr>
                                                <th class="bg-light" width="20%">제목</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <input type="text" class="form-control" name="ntc_ttl">
                                                        <div class="ms-3 mb-0 form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="ntc_yn" name="ntc_yn">
                                                            <label class="form-check-label text-nowrap" for="ntc_yn">공지</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light" width="20%">내용</th>
                                                <td>
                                                    <!-- 에디터 -->
                                                    <div id="summernote"></div>
                                                    <!-- 에디터의 내용 복사하여 붙혀넣기 -->
                                                    <textarea id="ntc_cn" name="ntc_cn" style="display:none;"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light">첨부파일</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <input class="form-control w-auto" type="file" name="ntc_file" onchange="insertFile()">
                                                        <div class="form-check form-check-inline mb-0 ms-2">
                                                            <input class="form-check-input" type="checkbox" id="delete">
                                                            <label class="form-check-label" for="delete">삭제</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light">노출여부</th>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="expsr_yn" id="expsr_y" value="Y">
                                                        <label class="form-check-label" for="expsr_y">노출</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input checked class="form-check-input" type="radio" name="expsr_yn" id="expsr_n" value="N">
                                                        <label class="form-check-label" for="expsr_n">미노출</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light">정렬</th>
                                                <td>
                                                    <div class="d-flex">
                                                        <input class="form-control" type="number" name="sort_no" style="width:100px">
                                                        <p class="mb-0 mt-2 ms-3">* 숫자가 낮을수록 상위 노출됩니다.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="button-container">
                                        <button type="button" class="btn btn-primary" onclick="confirmMsg()">등록하기</button>
                                        <a href="javascript:" class="btn btn-outline-primary">미리보기</a>
                                        <a class="btn btn-outline-dark" th:href="@{/admin/notice/list}">목록보기</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script th:inline="javascript">
        // 페이지 로드 시 실행
        window.onload = function () {
            // 페이지 로드 시 메시지 확인 및 알림 표시
            // 수정 및 등록 시 띄울 알림창
            const msg = /*[[${msg}]]*/ '';
            if (msg) alert(msg);
        }

        // 파일 추가 시 상태 값 변경
        function insertFile() {
            document.querySelector('#file_yn').value = 1;
        }

        // 컨펌 메시지 띄우는 함수
        function confirmMsg() {
            let result = confirm("등록 하시겠습니까?");
            if(!result) {
                return false;
            } else {
                var summernote_value = $("#summernote").summernote('code');
                $("#ntc_cn").val(summernote_value);

                // 체크 박스 클릭 시 value 대입
                var checked = $("#ntc_yn").is(':checked');
                if(checked) {
                    $("#ntc_yn").val("Y");
                } else {
                    $("#ntc_yn").val("N");
                }
                // 폼 태그 서브밋 보내기
                f=document.notice_form;
                f.submit();
            }
        }
    </script>
    <script th:src="@{/js/admin.js}"></script>
    
</body>
</html>