<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>KB Innovation HUB Admin</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/component/header.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script th:src="@{/js/feather.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/bootstrap-clockpicker.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
    <script th:src="@{/js/admin.js}"></script>
</head>

<body>
<div class="wrap">
    <app-header></app-header>

    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="paper">
                        <h2 class="h4">관리자 계정 관리</h2>
                        <div class="mt-4">
                            <div class="col">
                            </div>
                            <div class="col">
                                <div class="top-search d-flex mt-4">
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                        <div class="button-wrap d-flex justify-content-end">
                                            <a th:href="@{/admin/member/add}" class="btn btn-primary">
                                                <i data-feather="edit"></i> 신규 등록
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <table class="table text-center">
                                <thead>
                                <tr>
                                    <th style="width:5%">NO</th>
                                    <th style="width:25%">아이디</th>
                                    <th style="width:20%">관리자명</th>
                                    <th style="width:20%">이메일</th>
                                    <th style="width:20%">관리</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="list : ${selectList}">
                                    <td th:text="${list.mngr_sn}"></td>
                                    <td th:text="${list.mngr_id}"></td>
                                    <td th:text="${list.mngr_nm}"></td>
                                    <td th:text="${list.mngr_eml}"></td>
                                    <td>
                                        <a href="account_admin_input.html" class="btn btn-outline-dark btn-sm">수정</a>
                                        <button type="button" class="btn btn-outline-danger btn-sm">삭제</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>