<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KB Innovation HUB</title>

    <!-- 공통 스타일 시트 -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/flatpickr.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/sub.css">

    <!-- 임시 스크립트: 헤더/푸터 컴포넌트 (작업용 임시 파일이므로 개발단계부터는 스크립트 파일 안에 HTML 코드 사용) -->
    <script src="/component/header_preview.js"></script>
    <script src="/component/footer_preview.js"></script>
    <script>
        const ENV = 'dev'
    </script>

    <!-- 공통 스크립트 -->
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    <script src="/js/ScrollToPlugin.min.js"></script>
    <script src="/js/ScrollTrigger.min.js"></script>
    <script src="/js/lenis.min.js"></script>
    <script src="/js/split-type.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/echarts-wordcloud.min.js"></script>
    <script src="/js/flatpickr.js"></script>
    <script src="/js/ko.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/countUp.umd.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<!-- 헤더 -->
<app-header></app-header>
    <!-- 본문 -->
    <main class="main">
        <div class="section-top">
            <div class="section-top-wrap">
                <nav aria-label="Breadcrumb" class="breadcrumb" data-breadcrub-theme="light">
                    <ul>
                        <li><a href=""><i class="icon icon-home"></i><span class="blind">HOME</span></a></li>
                        <li><a href="">커뮤니티</a></li>
                        <li><span aria-current="page">FAQ</span></li>
                    </ul>
                </nav>
                <h2 class="title">FAQ</h2>
            </div>
        </div>
        <div class="board">
            <div class="board-list">
                <div class="board-list-head">
                    <div class="col">
                        <form action="" method="get">
                            <div class="search">
                                <select class="form-select" aria-label="" name="type" th:value="${type}">
                                    <option value="all" th:selected="${type} == 'all'">전체</option>
                                    <option value="title" th:selected="${type} == 'title'">제목</option>
                                    <option value="content" th:selected="${type} == 'content'">내용</option>
                                </select>
                                <div class="box">
                                    <input type="text" placeholder="검색어를 입력해주세요." name="keyword" th:value="${keyword}">
                                    <button type="button">
                                        <span class="blind">검색</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="board-list-body">
                    <div class="board-card">
                        <div class="swiper category-list">
                            <ul class="swiper-wrapper category-wrap">
                                <li class="swiper-slide category-item" th:classappend="${ctgry.CTGRY_SN} == 0 ? 'category-item--active' : ''">
                                    <span class="category-button" th:classappend="${ctgry.CTGRY_SN} == 0 ? 'category-button--selected' : ''">전체보기</span>
                                </li>
                                <li class="swiper-slide category-item" th:each="category : ${selectCategory}" th:classappend="${category.ctgry_sn == ctgry.CTGRY_SN} ? 'category-item--active' : ''">
                                    <span th:id="${#ids.next('tabs')}" class="category-button" th:classappend="${category.ctgry_sn == ctgry.CTGRY_SN} ? 'category-button--selected' : ''" th:text="${category.ctgry_nm}"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="accordion">
                            <ul class="accordion-list">
                                <!-- 아코디언 id와 aria-* 애트리뷰트에 리스트 인덱스값 늘려주시면 됩니다. tab1... tab2... (개당 총 4군데에요.) -->
                                <li class="accordion-group">
                                    <div role="heading" aria-level="3" class="accordion-heading">
                                        <button type="button" class="accordion-tab" id="tab0" aria-controls="tab0-section" aria-expanded="false">
                                            <span class="category" th:text="${ctgry.CTGRY_NM}"></span>
                                            <span class="type">Q.</span>
                                            <span th:text="${faqDTO.faq_qstn}"></span>
                                            <i class="icon"></i>
                                        </button>
                                    </div>
                                    <section class="accordion-panel" id="tab0-section" aria-hidden="true" aria-labelledby="tab0">
                                        <div class="accordion-contents">
                                            <span class="type">A.</span>
                                            <div class="context" th:text="${faqDTO.faq_ans}"></div>
                                        </div>
                                    </section>
                                </li>
                                <li class="accordion-group" th:each="list : ${selectList}">
                                    <div role="heading" aria-level="3" class="accordion-heading">
                                        <button type="button" class="accordion-tab" th:id="${'tab' + list.faq_sn}" th:aria-controls="${'tab' + list.faq_sn + '-section'}" aria-expanded="false">
                                            <span class="category" th:text="${ctgry.CTGRY_NM}"></span>
                                            <span class="type">Q.</span>
                                            <span th:text="${list.faq_qstn}"></span>
                                            <i class="icon"></i>
                                        </button>
                                    </div>
                                    <section class="accordion-panel" th:id="${'tab' + list.faq_sn + '-section'}" aria-hidden="true" th:aria-labelledby="${'tab' + list.faq_sn}">
                                        <div class="accordion-contents">
                                            <span class="type">A.</span>
                                            <div class="context" th:text="${list.faq_ans}"></div>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="board-list-foot">
                    <ul class="pagination">
                        <!--
                            #클래스 가이드
                            1. 이전/다음 버튼 비활성화: li 태그에 "disabled" 클래스 추가
                            2. 활성화 상태: li태그에 "active" 클래스 및 "aria-current='page'" 추가
                         -->
                        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                            <button class="page-link" th:onclick="openPreview(1, [[${ctgry.CTGRY_SN}]])" aria-label="맨 앞 페이지">
                                <span class="first"></span>
                            </button>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                            <a class="page-link" th:onclick="openPreview([[${currentPage - 1 < 1 ? 1 : currentPage - 1}]], [[${ctgry.CTGRY_SN}]])" aria-label="이전 페이지">
                                <span class="previous"></span>
                            </a>
                        </li>
                        <th:block th:if="${repeat != null}" th:each="num : ${#numbers.sequence(1, repeat)}">
                            <li class="page-item" aria-current="page" th:classappend="${currentPage != null ? num == currentPage : num == 1} ? 'active' : ''">
                                <button th:id="${'page' + num}" class="page-link" th:onclick="openPreview([[${num}]], [[${ctgry.CTGRY_SN}]])" th:text="${num}" aria-label=""></button>
                            </li>
                        </th:block>
                        <!-- 다음으로 이동하는 버튼 -->
                        <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                            <button class="page-link" th:onclick="openPreview([[${currentPage + 1 > repeat ? repeat : currentPage + 1}]], [[${ctgry.CTGRY_SN}]])" aria-label="다음 페이지">
                                <span class="next"></span>
                            </button>
                        </li>
                        <!-- 맨 끝페이지 이동 버튼 -->
                        <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                            <button class="page-link" th:onclick="openPreview([[${repeat}]], [[${ctgry.CTGRY_SN}]])" aria-label="맨 뒤 페이지">
                                <span class="last"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <app-footer></app-footer>

    <!-- 스크립트 -->
    <script th:inline="javascript">
        function openPreview(num, ctgry) {
            // 빈 form 전달
            let pageMoveForm = document.createElement('form');
            // 인수 값 전달
            let obj = document.createElement('input');
            obj.setAttribute('type', 'hidden');
            obj.setAttribute('name', 'num');
            obj.setAttribute('value', num);
            pageMoveForm.appendChild(obj);

            let obj2 = document.createElement('input');
            obj2.setAttribute('type', 'hidden');
            obj2.setAttribute('name', 'faq_ctgry_sn');
            obj2.setAttribute('value', ctgry);
            pageMoveForm.appendChild(obj2);

            pageMoveForm.setAttribute('method', 'post');
            pageMoveForm.setAttribute('action', '/faq/preview');
            document.body.appendChild(pageMoveForm);
            pageMoveForm.submit();
        }

        window.addEventListener('DOMContentLoaded', () => {
            accordion();
        });

        function accordion(){
            const opened = document.querySelectorAll('[aria-expanded=true]');

            for (let i = 0, l = opened.length; i < l; i++) {
                const panel = document.getElementById(opened[i].id + '-section');                

                panel.style.height = panel.scrollHeight + 'px';
            }

            function toggleExpanded(element, show) {
                const target = document.getElementById(element.getAttribute('aria-controls'));
                const height = target.scrollHeight;

                if (target) {
                    element.setAttribute('aria-expanded', show);
                    target.setAttribute('aria-hidden', !show);
                    show ? target.style.height = height + 'px' : target.style.removeProperty('height');
                }
            }

            function setupAccordion(accordionContainer) {
                function closeAllPanels() {
                    const openPanels = accordionContainer.querySelectorAll('[aria-expanded=true]');

                    for (let i = 0, l = openPanels.length; i < l; i++) {
                        toggleExpanded(openPanels[i], false);
                    }
                }

                accordionContainer.addEventListener('click', function (event) {
                    let target = event.target;

                    if (target.closest) {
                        target = target.closest('[class*="accordion-tab"]');
                    }

                    if (target) {
                        const isTargetOpen = target.getAttribute('aria-expanded') === 'true';
                        closeAllPanels();
                        toggleExpanded(target, !isTargetOpen);
                    }
                });
            }

            const accordions = document.querySelectorAll('.accordion');

            for (let i = 0, l = accordions.length; i < l; i++) {
                setupAccordion(accordions[i]);
            }
        }
    </script>
</body>
</html>