<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragment/config :: configFragment}"></head>
<body>
<div class="wrap">
    <app-header></app-header>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="paper">
                        <h2 class="h4">육성 프로그램 - 육성 그래프 관리</h2>
                        <div class="mt-4">
                            <form th:action="@{/admin/promote/save}" method="post" name="promote_form">
                                <input type="hidden" th:value="${result?.graph_sn}" name="graph_sn"/>
                                <table class="table table-bordered align-middle">
                                    <tbody>
                                    <tr>
                                        <th class="bg-light" style="width:18%">기준년월</th>
                                        <td>
                                            <input type="text" class="form-control" name="crtr_ym" th:value="${result?.crtr_ym}" placeholder="ex) 2024년 7월 기준">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered align-middle">
                                    <tbody>
                                    <tr>
                                        <th class="bg-light text-center" colspan="2" style="width:20%">그래프 1</th>
                                        <th class="bg-light text-center" colspan="2" style="width:20%">그래프 2</th>
                                        <th class="bg-light text-center" colspan="2" style="width:20%">그래프 3</th>
                                        <th class="bg-light text-center" colspan="2" style="width:20%">그래프 4</th>
                                        <th class="bg-light text-center" colspan="2" style="width:20%">그래프 5</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" style="width:8%">연도</th>
                                        <td>
<!--                                            <input type="number" class="form-control" name="graph1_yr" th:value="${result?.graph1_yr}" placeholder=" ex) 2024">-->
                                            <select class="form-select" name="graph1_yr">
                                                <option value="none" th:disabled th:hidden="true">-선택-</option>
                                                <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow()) - 5, #dates.year(#dates.createNow()) + 5)}" th:value="${i}" th:text="${i}"></option>
                                            </select>
                                        </td>
                                        <th class="bg-light" style="width:8%">연도</th>
                                        <td>
<!--                                            <input type="number" class="form-control" name="graph2_yr" th:value="${result?.graph2_yr}" placeholder=" ex) 2024">-->
                                            <select class="form-select" name="graph2_yr">
                                                <option value="none" th:disabled th:hidden="true">-선택-</option>
                                                <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow()) - 5, #dates.year(#dates.createNow()) + 5)}" th:value="${i}" th:text="${i}"></option>
                                            </select>
                                        </td>
                                        <th class="bg-light" style="width:8%">연도</th>
                                        <td>
<!--                                            <input type="number" class="form-control" name="graph3_yr" th:value="${result?.graph3_yr}" placeholder=" ex) 2024">-->
                                            <select class="form-select" name="graph3_yr">
                                                <option value="none" th:disabled th:hidden="true">-선택-</option>
                                                <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow()) - 5, #dates.year(#dates.createNow()) + 5)}" th:value="${i}" th:text="${i}"></option>
                                            </select>
                                        </td>
                                        <th class="bg-light" style="width:8%">연도</th>
                                        <td>
<!--                                            <input type="number" class="form-control" name="graph4_yr" th:value="${result?.graph4_yr}" placeholder=" ex) 2024">-->
                                            <select class="form-select" name="graph4_yr">
                                                <option value="none" th:disabled th:hidden="true">-선택-</option>
                                                <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow()) - 5, #dates.year(#dates.createNow()) + 5)}" th:value="${i}" th:text="${i}"></option>
                                            </select>
                                        </td>
                                        <th class="bg-light" style="width:8%">연도</th>
                                        <td>
<!--                                            <input type="number" class="form-control" name="graph5_yr" th:value="${result?.graph5_yr}" placeholder=" ex) 2024">-->
                                            <select class="form-select" name="graph5_yr">
                                                <option value="none" th:disabled th:hidden="true">-선택-</option>
                                                <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow()) - 5, #dates.year(#dates.createNow()) + 5)}" th:value="${i}" th:text="${i}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light">기업 수</th>
                                        <td><input type="number" class="form-control" name="graph1_nocs" th:value="${result?.graph1_nocs}" placeholder="ex) 123"></td>
                                        <th class="bg-light">기업 수</th>
                                        <td><input type="number" class="form-control" name="graph2_nocs" th:value="${result?.graph2_nocs}" placeholder="ex) 123"></td>
                                        <th class="bg-light">기업 수</th>
                                        <td><input type="number" class="form-control" name="graph3_nocs" th:value="${result?.graph3_nocs}" placeholder="ex) 123"></td>
                                        <th class="bg-light">기업 수</th>
                                        <td><input type="number" class="form-control" name="graph4_nocs" th:value="${result?.graph4_nocs}" placeholder="ex) 123"></td>
                                        <th class="bg-light">기업 수</th>
                                        <td><input type="number" class="form-control" name="graph5_nocs" th:value="${result?.graph5_nocs}" placeholder="ex) 123"></td>
                                    </tr>
                                    <!-- <tr>
                                        <th class="bg-light" style="width:18%">선발 프로세스</th>
                                        <td>
                                            <p class="mb-2">최대 48자까지 입력 가능합니다.</p>
                                            <input type="text" class="form-control" value="">
                                        </td>
                                    </tr> -->
                                    </tbody>
                                </table>
                                <div class="button-container">
                                    <button type="button" class="btn btn-primary" onclick="javascript:confirmMsg()">저장하기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script th:src="@{/js/admin.js}"></script>
<script th:inline="javascript">
    // 페이지 로드 시 실행
    window.onload = function () {
        // 페이지 로드 시 메시지 확인 및 알림 표시
        // 수정 및 등록 시 띄울 알림창
        const msg = /*[[${msg}]]*/ '';
        if (msg) alert(msg);

        // 현재 년도 기준으로 셀렉트 박스 선택 되게 하기
        // 만약 값이 없으면 세팅(등록)
        var year = new Date().getFullYear();
        // 셀렉트 박스들
        var selects = document.getElementsByClassName("form-select");
        // 셀렉트 박스들 만큼 반복
        for(var i = 0; i < selects.length; i++) {
            // 셀렉트 박스 한 개와 옵션들
            var select = selects[i];
            var options = select.options;

            // debugger;

            for(var j = 0; j < options.length; j++) {
                if(options[j].value == String(year) && options[options.selectedIndex].value == 'none') {
                    options[j].selected = true;
                }
            }
        }
    }
    // 컨펌 메시지 띄우는 함수
    function confirmMsg() {
        let result = confirm("저장 하시겠습니까?");
        if(!result) {
            return false;
        } else {
            var graph_sn = $("input[name=graph_sn]").val();
            // PK 값이 비어있으면 기본 값 0 세팅
            if(graph_sn == "") {
                $("input[name=graph_sn]").val(0);
            }
            // 폼 태그 서브밋 보내기
            f=document.promote_form;
            f.submit();
        }
    }
</script>
</body>
</html>